<a href="https://colab.research.google.com/github/aiBro0712/Python-A-Z/blob/main/05_Numbers_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Numbers in Python

Agenda:


1.   Learn Major Numeric datatypes(numeric literals)
2.   Basic Arithmetic examples

Python has various "types" of numbers (numeric literals).
We'll mainly focus on  integers and floating point numbers.

**Integers** are just whole numbers, positive or negative. For example: 3 and -3.

**Floating point numbers** in Python  they have a decimal point in them, or use an exponential (e) to define the number. For example 3.0 and -2.1.      
4E3 (4 times 10 to the power of 3) is also an example of a floating point number in Python.
More examples  1.2,-0.5,2e2,3E2

#### Basic Arithmetic

In [ ]:
#addition

In [ ]:
#substraction

In [ ]:
# Multiplication
2*2

4

In [ ]:
# Division
3/2

1.5

In [ ]:
# Floor Division
7//4

1